<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tpdev.upmc.dcinephila">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".DesignClasses.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SignupActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SearchResultsActivity" />
        <activity android:name=".Activities.MovieDetailsActivity" />
        <activity android:name=".Activities.ImagesSliderActivity" />
        <activity android:name=".Activities.StarBiographyActivity" />
        <activity android:name=".Activities.TvShowsDetailsActivity" />
        <activity android:name=".Activities.SeasonEpisodesActivity" />
        <activity android:name=".Activities.DisplayElementCommentsActivity" />
        <activity android:name=".Activities.CinephileProfileActivity" />
        <activity android:name=".Activities.EventsActivity" />
        <activity android:name=".Activities.CreateEventActivity" />
        <activity android:name=".Activities.CinemasActivity" />
        <activity android:name=".Activities.DisplayListsActivity" />
        <activity android:name=".Activities.DisplayElementsListsActivity" />
        <activity android:name=".Activities.SearchProfileActivity" />
        <activity android:name=".Activities.ConsultOtherProfileActivity" />
        <activity android:name=".Activities.DisplayListsOtherUserActivity" />
        <activity android:name=".Activities.DisplayElementsListOtherUserActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.DisplayLikeOtherUserActivity" />
        <activity android:name=".Activities.UpdateProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Activities.MoviesByGenreActivity" />
        <activity android:name=".Activities.SeancesMoviesActivity" />
        <activity android:name=".Activities.CinemaArticlesActivity" />
        <activity android:name=".Activities.CinemaEventActivity" />
        <activity
            android:name=".Activities.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>